@import "reset";

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #e8edf1;
  color: #173a68;
}

.shop {
  overflow: hidden;
}

.sidebar {
  position: relative;
  width: 100%;
  float: right;
  font-size: 12px;
  line-height: 1.5;

  .description {
    padding-bottom: 15px;
    padding-top: 15px;
    padding-left: 15px;
  }
}



.date {
  float: left;
  padding-right: 25px;
  text-align: center;

  .day {
    font-size: 50px;
    font-weight: 900;
  }

  .month {
    top: -10px;
    position: relative;
    padding-top: 0px !important;
    text-align: center;
    font-size: 15px;
    background-color: #fff;
    padding-bottom: 0px !important;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 30px;
    margin-top: 10px;
    line-height: 1.6;
  }

}

.bigbar {
  padding-top: 30px;
  padding-bottom: 30px;
}

.list-style-none {

  li {
    list-style: none;
  }
}

.collapse {
  display: block;
  max-height: 0px;
  overflow: hidden;
  transition: max-height .5s cubic-bezier(0, 1, 0, 1);

  &.show {
    max-height: 99em;
    transition: max-height .5s ease-in-out;
  }
}

.bubble {
  float: left;
  background-color: #fff;
  padding: 0px 15px;
  margin-right: 10px;
  border-radius: 30px;
}

.dashed,
.widget {
  border-bottom: 1px dashed #95aec5;
}

.related_shop_logo {
  .webshop-logo {
    margin: 5px;
  }
}


.widget {
  display: inline-block;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 100%;

  .text {

    img {
      width: 100%;
      padding-top: 10px;
    }

  }


  p {
    margin-bottom: 10px;
  }

  li {
    padding-bottom: 5px;
    padding-top: 5px;
  }

  ol {
    list-style: decimal inside none;
  }

  ul {
    list-style: inside;
  }

  h3 {
    padding-bottom: 10px;
    font-weight: bold;
  }

  h4 {
    padding-bottom: 5px;
    font-weight: bold;
    font-size: 13px;
  }
}

.navigation {
  color: #ffffff;

  .icon-clouds {
    position: absolute;
    right: 30px;
  }
}

.overlay {
  background-color: rgba(63, 76, 107, 0.55);
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1001;
  top: 0;
  left: 0;
}

.circle {
  border-radius: 50%;
}

.arrow {
  width: 0;
  height: 0;
}

.arrow-up {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #3f4c6b;
}

.arrow-down {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #3f4c6b;
}

.arrow-right {
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;

  border-left: 5px solid #3f4c6b;
}

.arrow-left {
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 5px solid #3f4c6b;
}

.close:after {
  content: "×";
  font: 26px/100% arial, sans-serif;
  padding-right: 5px;
  position: absolute;
  right: 5px;
  text-decoration: none;
  top: 5px;
  color: #8b95a8;
}

.pad {
  padding-top: 10px;
  padding-bottom: 10px;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
}

h1 {
  font-size: 1.5rem;
  font-weight: bold;
}

h3 {
  font-size: 1rem;
}

strong {
  font-weight: bold;
}

.relative {
  position: relative;
}

.container {
  width: 100%;
  max-width: 1180px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.text-center {
  text-align: center;
}

.uppercase {
  text-transform: uppercase;
}

#content {
  width: 100%;
}

.rounded {
  border-radius: 10px;
}

.btn {
  background-color: #29abe2;
  font-weight: bold;
  color: #fff;
  border-radius: 40px;
  border: none;
  margin-top: 15px;
  padding: 15px 20px;
  display: inline-block;
}

.tag-newsletter {
  line-height: 1.2;
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  text-align: center;


  h2 {
    font-weight: bold;
    font-size: 18px;
    padding-bottom: 10px;
  }

  .btn {
    margin-top: 10px;
    margin-bottom: 20px;
  }



  .form-control {
    background: #dcf4ff;
    border: none;
    font-size: 16px;
    margin-top: 15px;
    text-align: center;
    padding: 15px;
  }

  .optin-text {
    padding-top: 25px;
    padding-right: 20px;
    padding-left: 20px;
  }

  .optin-container {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#3f4c6b+0,3f4c6b+100;Blue+Grey+Flat */
    background: #3f4c6b;
    //background-image: url("./images/opting-bg20.jpg");
    background-position: bottom center;
    background-size: cover;
  }

  .optin-logo {
    position: relative;
    display: inline-block;
    top: 20px;

    .optin-logo-img {
      width: 58px;
      left: 21px;
      position: absolute;
    }

    .envloppe {
      width: 100px;
    }
  }
}

.badge {
  position: absolute;
  right: -5px;
  background-color: red;
  width: 25px;
  height: 21px;
  border-radius: 50px;
  z-index: 99;
  top: -10px;
  font-weight: bold;
  padding-top: 3px;
  color: #fff;
  text-align: center;
}

input {
  width: 100%;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 15px;
}

.webshop-logo {
  float: left;
  border-radius: 46px;
  height: 42px;
  width: 42px;
  background-color: #ffffff;
  padding: 10px;
  text-align: center;
}

.block {
  padding-left: 15px;
}

.hide {
  display: none;
}


.tooltip {
  position: relative;
  display: inline-block;
}

$tooltip_w: 100px;

.tooltip .tooltiptext {
  visibility: hidden;
  width: $tooltip_w;
  background-color: #043a6b;
  color: #fff;
  text-align: center;
  border-radius: 30px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 50%;
  margin-left: -($tooltip_w / 2);
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #043a6b transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

@media only screen and (min-width: 1180px) {
  #content {
    width: 80%;
    float: left;
  }

  .sidebar {
    width: 20% !important;
  }

  .sidebar-fusion {
    top: -85px;
  }

}


.menuopen {
  -webkit-transform: translateX(75%);
  -moz-transform: translateX(75%);
  -ms-transform: translateX(75%);
  -o-transform: translateX(75%);
  transform: translateX(75%);
  position: fixed;
}

.nav-icon {
  width: 30px;
  height: 20px;
  float: left;
  fill: yellow;
  padding-left: 10px;
}

.special-item {
  width: 100% !important;
  text-align: center;
  font-weight: bold;
}

.mobile-menu-overlay {
  width: 100%;
  position: absolute;
  height: 100%;
  background-color: #3f51b594;
  z-index: 9999;
  top: 0px;
}

#nav-container {
  left: -75%;
}

.menu-items {
  .show {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

.app,
.nav-container {
  -webkit-transition: all 300ms 0ms;
  -moz-transition: all 300ms 0ms;
  -ms-transition: all 300ms 0ms;
  -o-transition: all 300ms 0ms;
  transition: all 300ms 0ms;
}

.dropdown_menu {
  a {
    width: 100%;
    color: #043a6b;
  }
}

.dropdown {
  .arrow-down {
    margin-left: -2px;
    top: 10px;
    right: 10px;
    margin-top: -2px;
    position: absolute;
    border-color: #fff transparent;
  }

  ul {
    padding-left: 0px;
    padding-top: 20px;
    padding-right: 0px;
  }

  li {
    padding-left: 0px;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
  }
}

nav {
  color: #fff;

  .icon svg {
    width: 20px;
    height: 20px;
    fill: #fff;
    padding-right: 10px;
    padding-left: 0px;
  }

  .close {
    z-index: 99;
    position: relative;
  }

  li {
    display: inline-block;
    width: 100%;
  }

  .menu-item {
    padding-top: 15px;
    padding-bottom: 20px;
    width: 100%;
    position: relative;
    display: block;
    border-bottom: 1px dashed #7b8aa1;
    color: #fff;
    text-decoration: none;

    b {
      height: 20px;
    }

    .icon {
      position: relative;
      left: 2px;
      top: 3px;
      margin-left: 10px;
    }
  }

  .dropmenu-item {
    position: relative;
    display: block;
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

.open_collapse .icon {
  transform: rotate(180deg);
}

#nav-container {
  display: inline-block;
  top: 0px !important;
  bottom: 0px;
  width: 75%;
  //height: 100%;
  position: absolute;
}

@media only screen and (max-width: 1180px) {
  #nav-container {
    background-color: #1b194a;
    background-image: url("../assets/images/navigation_bg.png");
    height: 100vh;
    overflow: scroll;
    background-position: bottom right;
    background-attachment: scroll;
    background-size: contain;
    background-repeat: no-repeat;

    .menu-items {
      padding-left: 0px;
      padding-right: 0px;
    }

    .special-item {
      text-align: left !important;
    }

    .menu-item {
      .arrow-down {
        margin-top: 7px;
        margin-left: 7px;
        margin-right: 15px;
      }
    }

    .dropdown_menu a {
      color: #949db0;
      padding-left: 15px;
      padding-right: 15px;
    }

    #navigation {
      height: 100%;
    }
  }
}

@media only screen and (min-width: 1180px) {
  #openmenu {
    display: none !important;
  }

  #nav-container {
    left: 0% !important;
    background-color: rgba(3, 78, 137, 0.25);
    display: inline-block;
    width: 100% !important;
    position: relative;
    overflow: visible !important;

    nav li {
      width: auto;
      padding-right: 7px;
      padding-left: 7px;
    }

    .close {
      display: none;
    }

    .arrow-down {
      margin-top: 12px;
      margin-left: 9px;
      top: 10px;
    }

    .dropdown_menu {
      //display: none;
      position: absolute;
      background-color: #fff;
      z-index: 999;
      width: 100%;
      left: 0px;
      padding-left: 15px;
      padding-right: 15px;

      li {
        width: 220px;
      }
    }
  }

  .bar {
    background-image: url("../assets/images/cloud.svg");
    background-color: #05abe0;
    /* Old browsers */
    background-color: -moz-linear-gradient(top,
      #05abe0 0%,
      #53cbf1 60%,
      #87e0fd 100%);
    /* FF3.6-15 */
    background-color: -webkit-linear-gradient(top,
      #05abe0 0%,
      #53cbf1 60%,
      #87e0fd 100%);
    /* Chrome10-25,Safari5.1-6 */
    background-color: linear-gradient(to bottom,
      #05abe0 0%,
      #53cbf1 60%,
      #87e0fd 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#05abe0', endColorstr='#87e0fd', GradientType=0);
    /* IE6-9 */
    margin-bottom: 20px;
  }
}
