@import "reset";

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #e8edf1;
  color: #173a68;
}

.shop {
  overflow: hidden;
}

.date {
  float: left;

  .day {
    font-size: 50px;
    font-weight: 900;
  }
}

.bigbar {
  padding-top: 30px;
  padding-bottom: 30px;
}

.collapse {
  display: block;
  max-height: 0px;
  overflow: hidden;
  transition: max-height .5s cubic-bezier(0, 1, 0, 1);

  &.show {
    max-height: 99em;
    transition: max-height .5s ease-in-out;
  }
}

.widget {
  display: inline-block;
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px dashed #95aec5;
  width: 100%;

  .text {

    img {
      width: 100%;
      padding-top: 10px;
    }

  }


  p {
    margin-bottom: 10px;
  }

  li {
    padding-bottom: 5px;
    padding-top: 5px;
  }

  ol {
    list-style: decimal inside none;
  }

  ul {
    list-style: inside;
  }

  h3 {
    padding-bottom: 10px;
    font-weight: bold;
  }

  h4 {
    padding-bottom: 5px;
    font-weight: bold;
    font-size: 13px;
  }
}

.navigation {
  color: #ffffff;

  .icon-clouds {
    position: absolute;
    right: 30px;
  }
}

.overlay {
  background-color: rgba(63, 76, 107, 0.55);
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1001;
  top: 0;
  left: 0;
}

.circle {
  border-radius: 50%;
}

.arrow {
  width: 0;
  height: 0;
}

.arrow-up {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #3f4c6b;
}

.arrow-down {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #3f4c6b;
}

.arrow-right {
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;

  border-left: 5px solid #3f4c6b;
}

.arrow-left {
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 5px solid #3f4c6b;
}

.close:after {
  content: "×";
  font: 26px/100% arial, sans-serif;
  padding-right: 5px;
  position: absolute;
  right: 5px;
  text-decoration: none;
  top: 5px;
  color: #8b95a8;
}

.pad {
  padding-top: 10px;
  padding-bottom: 10px;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
}

h1 {
  font-size: 1.5rem;
  font-weight: bold;
}

h3 {
  font-size: 1rem;
}

strong {
  font-weight: bold;
}

.relative {
  position: relative;
}

.container {
  width: 100%;
  max-width: 1180px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.text-center {
  text-align: center;
}

.uppercase {
  text-transform: uppercase;
}

#content {
  width: 100%;
}

.rounded {
  border-radius: 10px;
}

.btn {
  background-color: #29abe2;
  font-weight: bold;
  color: #fff;
  border-radius: 40px;
  border: none;
  margin-top: 15px;
  padding: 15px 20px;
  display: inline-block;
}

.tag-newsletter {
  line-height: 1.2;
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  text-align: center;


  h2 {
    font-weight: bold;
    font-size: 18px;
    padding-bottom: 10px;
  }

  .btn {
    margin-top: 10px;
    margin-bottom: 20px;
  }



  .form-control {
    background: #dcf4ff;
    border: none;
    font-size: 16px;
    margin-top: 15px;
    text-align: center;
    padding: 15px;
  }

  .optin-text {
    padding-top: 25px;
    padding-right: 20px;
    padding-left: 20px;
  }

  .optin-container {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#3f4c6b+0,3f4c6b+100;Blue+Grey+Flat */
    background: #3f4c6b;
    //background-image: url("./images/opting-bg20.jpg");
    background-position: bottom center;
    background-size: cover;
  }

  .optin-logo {
    position: relative;
    display: inline-block;
    top: 20px;

    .optin-logo-img {
      width: 58px;
      left: 21px;
      position: absolute;
    }

    .envloppe {
      width: 100px;
    }
  }
}

.badge {
  position: absolute;
  right: -5px;
  background-color: red;
  width: 25px;
  height: 21px;
  border-radius: 50px;
  z-index: 99;
  top: -10px;
  font-weight: bold;
  padding-top: 3px;
  color: #fff;
  text-align: center;
}

input {
  width: 100%;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 15px;
}

.webshop-logo {
  float: left;
  border-radius: 46px;
  height: 42px;
  width: 42px;
  background-color: #ffffff;
  padding: 10px;
  text-align: center;
}

.block {
  padding-left: 15px;
}

.hide {
  display: none;
}


.tooltip {
  position: relative;
  display: inline-block;
}

$tooltip_w: 100px;

.tooltip .tooltiptext {
  visibility: hidden;
  width: $tooltip_w;
  background-color: #043a6b;
  color: #fff;
  text-align: center;
  border-radius: 30px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 50%;
  margin-left: -($tooltip_w / 2);
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #043a6b transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
