@import "reset";


.dib {
  display: inline-block;
}

.w100 {
  width: 100%;
}

.w50 {
  width: 50%;
}

.vcenter {
  transform: translate(0%, -50%);
  position: absolute;
  top: 50%;
}

.aligner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.aligner-center {
  align-items: center;
}

.aligner-item {
  max-width: 50%;
}

.aligner-item--top {
  align-self: flex-start;
}

.aligner-item--bottom {
  align-self: flex-end;
}

.col-container {
  display: table;
  width: 100%;
}

.flexbox {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.masonry {
  display: grid;
  grid-gap: 1em;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-auto-rows: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

.dib-w100 {
  display: inline-block;
  width: 100%;
}

.lh {
  line-height: 1.2;
}


body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #e8edf1;
  color: #173a68;

  a {
    color: #173a68;
  }
}

.tag-search {
  width: 100%;
  display: inline-block;

  .tag-info {
    width: 65%;
  }

  .tag-title {
    padding-top: 0px !important;
  }
}

.mb-15 {
  margin-bottom: 15px;
}

.mt-30 {
  margin-top: 30px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mt-15 {
  margin-top: 15px;
}

.ml-15 {
  margin-left: 15px;
}

.mr-15 {
  margin-right: 15px;
}

.tag-search {
  background-color: #f9fafb !important;
  border-top: 1px solid #ebebf5;

  .tag-content {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
  }

}

.shop,
.overflow-hidden {
  overflow: hidden;
}

.sidebar {
  position: relative;
  width: 100%;
  float: right;
  font-size: 12px;
  line-height: 1.5;

  .description {
    padding-bottom: 15px;
    padding-top: 15px;
    padding-left: 15px;
  }
}



.date {
  float: left;
  padding-right: 25px;
  text-align: center;
  height: 91px;

  .day {
    font-size: 50px;
    font-weight: 900;
  }

  .month {
    top: -10px;
    position: relative;
    padding-top: 0px !important;
    text-align: center;
    font-size: 15px;
    background-color: #fff;
    padding-bottom: 0px !important;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 30px;
    margin-top: 10px;
    line-height: 1.6;
  }

}

.bigbar {
  padding-top: 30px;
  padding-bottom: 30px;
}

.list-style-none {

  li {
    list-style: none;
  }
}

.collapse {
  display: block;
  max-height: 0px;
  overflow: hidden;
  transition: max-height .5s cubic-bezier(0, 1, 0, 1);

  &.show {
    max-height: 99em;
    transition: max-height .5s ease-in-out;
  }
}

.bubble {
  float: left;
  background-color: #fff;
  padding: 0px 15px;
  margin-right: 10px;
  border-radius: 30px;
}

.dashed,
.widget {
  border-bottom: 1px dashed #95aec5;
}

.related_shop_logo {
  .webshop-logo {
    margin: 3px;
  }
}

.text {

  p {
    line-height: 1.4;
  }

  h1 {
    padding-bottom: 15px;
  }

  img {
    width: 100%;
    padding-top: 10px;
  }

}


.widget {
  display: inline-block;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 100%;

  p {
    margin-bottom: 10px;
  }

  li {
    padding-bottom: 5px;
    padding-top: 5px;
  }

  ol {
    list-style: decimal inside none;
  }

  ul {
    list-style: inside;
  }

  h3 {
    padding-bottom: 10px;
    font-weight: bold;
  }

  h4 {
    padding-bottom: 5px;
    font-weight: bold;
    font-size: 13px;
  }
}

.navigation {
  color: #ffffff;

  .icon-clouds {
    position: absolute;
    right: 30px;
  }
}

.overlay {
  background-color: rgba(63, 76, 107, 0.55);
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1001;
  top: 0;
  left: 0;
}

.circle {
  border-radius: 50%;
}

.arrow {
  width: 0;
  height: 0;
}

.arrow-up {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #3f4c6b;
}

.arrow-down {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #3f4c6b;
  margin-top: 5px;
  margin-left: 5px;
}

.arrow-right {
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid #3f4c6b;
}

.arrow-left {
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 5px solid #3f4c6b;
}

.close:after {
  content: "×";
  font: 26px/100% arial, sans-serif;
  padding-right: 5px;
  position: absolute;
  right: 5px;
  text-decoration: none;
  top: 5px;
  color: #8b95a8;
}


.pad {
  padding-top: 10px;
  padding-bottom: 10px;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.2rem;
}

strong {
  font-weight: bold;
}

.relative {
  position: relative;
}

.container {
  width: 100%;
  max-width: 1180px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.underline {
  text-decoration: underline;
}

.uppercase {
  text-transform: uppercase;
}

#content {
  width: 100%;
}

.rounded {
  border-radius: 10px;
}


.badge-right {
  right: -5px;
  top: -10px;
}

.badge-absolute {
  position: absolute;
}

.badge {
  background-color: #ff6c00;
  border-radius: 50px;
  z-index: 99;
  display: inline-block;
  min-width: 25px;
  font-weight: bold;
  color: #fff;
  text-align: center;
  line-height: 1.8;
}

input {
  width: 100%;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 15px;
}

.webshop-logo {
  border-radius: 46px;
  height: 42px;
  width: 42px;
  background-color: #ffffff;
  padding: 10px;
  text-align: center;
}

.block {
  padding-left: 15px;
}

.hide {
  display: none;
}

.howbox{
  width: 25%;
  float: left;

  .howbox-container{
  background-color: #fff;
  margin-right: 15px;
  border-radius: 10px;
  overflow: hidden;
  text-align: center;

  h3{
    padding: 10px;
  }

    img{
      width: 100%;
    }
  }

  

}

.tooltip {
  position: relative;
  display: inline-block;
}

$tooltip_w: 100px;

.tooltip .tooltiptext {
  visibility: hidden;
  width: $tooltip_w;
  background-color: #043a6b;
  color: #fff;
  text-align: center;
  border-radius: 30px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 50%;
  margin-left: -($tooltip_w / 2);
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #043a6b transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

@media only screen and (min-width: 1180px) {
  #content {
    width: 80%;
    float: left;


  }

  .sidebar {
    width: 20% !important;
  }

  .sidebar-fusion {
    top: -85px;
  }

}


.menuopen {
  -webkit-transform: translateX(75%);
  -moz-transform: translateX(75%);
  -ms-transform: translateX(75%);
  -o-transform: translateX(75%);
  transform: translateX(75%);
  position: fixed;
}

.nav-icon {
  width: 30px;
  height: 20px;
  float: left;
  fill: yellow;
  padding-left: 10px;
}

.special-item {
  width: 100% !important;
  text-align: center;
  font-weight: bold;
}

.mobile-menu-overlay {
  width: 100%;
  position: absolute;
  height: 100%;
  z-index: 999;
  top: 0px;
}

#nav-container {
  left: -75%;
}

.menu-items {
  .show {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

.app,
.nav-container {
  -webkit-transition: all 300ms 0ms;
  -moz-transition: all 300ms 0ms;
  -ms-transition: all 300ms 0ms;
  -o-transition: all 300ms 0ms;
  transition: all 300ms 0ms;
}

.dropdown_menu {
  a {
    width: 100%;
    color: #043a6b;
  }
}

.dropdown {
  .arrow-down {
    margin-left: -2px;
    top: 10px;
    right: 10px;
    margin-top: -2px;
    position: absolute;
    border-color: #fff transparent;
  }

  ul {
    padding-left: 0px;
    padding-top: 20px;
    padding-right: 0px;
  }

  li {
    padding-left: 0px;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
  }
}

nav {
  color: #fff;

  .icon svg {
    width: 20px;
    height: 20px;
    fill: #fff;
    padding-right: 10px;
    padding-left: 0px;
  }

  .close {
    z-index: 99;
    position: relative;
  }

  li {
    display: inline-block;
    width: 100%;
  }

  .subitems li {
    font-size: 12px;
    padding-bottom: 5px;
    padding-top: 5px;
  }

  .menu-item {
    padding-top: 15px;
    padding-bottom: 20px;
    width: 100%;
    position: relative;
    display: block;
    border-bottom: 1px dashed #7b8aa1;
    color: #fff;
    text-decoration: none;

    b {
      height: 20px;
    }

    .icon {
      position: relative;
      left: 2px;
      top: 3px;
      margin-left: 10px;
    }
  }

  .dropmenu-item {
    position: relative;
    display: block;
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

.open_collapse .icon {
  transform: rotate(180deg);
}

#nav-container {
  display: inline-block;
  top: 0px !important;
  bottom: 0px;
  width: 75%;
  //height: 100%;
  position: absolute;
}

.padding {
  padding: 15px;
}

.padding-xl {
  padding: 20px;
}

.padding-xxl {
  padding: 30px;
}

.index {
  .title {
    h2 {
      padding-bottom: 10px;
    }

    p {
      padding-bottom: 30px;
    }

  }
}

@media only screen and (max-width: 1180px) {

  .flexbox {
    display: block;
  }

  .m_w100p {
    width: 100% !important;
    min-width: 100% !important;
  }

  .index {

    .title {
      h2 {
        padding-bottom: 10px;
      }

      p {
        padding-bottom: 15px;
      }

    }

    .optin {
      border-radius: 0px;
    }

    .blogposts {
      padding-top: 0px;
    }

    .ptb2x {
      padding-bottom: 15px;
      padding-top: 15px;
    }

    .title {
      padding-left: 15px;
      padding-right: 15px;
      padding-bottom: 0px;

    }

    h1 {
      font-size: 20px;
    }

    p {
      font-size: 12px;
    }

  }


  #nav-container {
    background-color: #1b194a;
    background-image: url("../assets/images/navigation_bg.png");
    height: 100vh;
    overflow: scroll;
    background-position: bottom right;
    background-attachment: scroll;
    background-size: contain;
    background-repeat: no-repeat;

    .menu-items {
      padding-left: 0px;
      padding-right: 0px;
    }

    .special-item {
      text-align: left !important;
    }

    .menu-item {
      .arrow-down {
        margin-top: 7px;
        margin-left: 7px;
        margin-right: 15px;
      }
    }

    .dropdown_menu a {
      color: #949db0;
      padding-left: 15px;
      padding-right: 15px;
    }

    #navigation {
      height: 100%;
    }
  }

  .sidebar {
    .widget {
      padding-top: 0px;
      padding-bottom: 0px;
    }
  }

  .m-toggle-switch {
    cursor: pointer;
  }

  .m-padding {
    padding: 15px;
  }

  .m-toggle .m-toggle-container {
    display: none;
  }

  .m-toggle-on .m-toggle-container {
    display: block;
  }

  .m-toggle-title {
    background-color: #fff;
    position: relative;
  }

  $arrowsize: 5px;

  .m-toggle-on {

    .m-toggle-title:after {
      border-top: $arrowsize solid transparent;
    }

  }

  .m-toggle-title:after {
    content: "";
    border-left: $arrowsize solid transparent;
    border-right: $arrowsize solid transparent;
    border-bottom: $arrowsize solid transparent;
    border-top: $arrowsize solid #6a819e;
    display: inline-block;
    position: absolute;
    top: 50%;
    right: 15px;
  }


}

@media only screen and (min-width: 1180px) {
  #openmenu {
    display: none !important;
  }

  .m-only-toggle {
    display: none;
  }

  #nav-container {
    left: 0% !important;
    background-color: rgba(3, 78, 137, 0.25);
    display: inline-block;
    width: 100% !important;
    position: relative;
    overflow: visible !important;

    nav li {
      width: auto;
      padding-right: 7px;
      padding-left: 7px;
    }

    .close {
      display: none;
    }

    .arrow-down {
      margin-top: 12px;
      margin-left: 9px;
      top: 10px;
    }

    .dropdown_menu {
      //display: none;
      position: absolute;
      background-color: #fff;
      z-index: 999;
      width: 100%;
      left: 0px;
      padding-left: 15px;
      padding-right: 15px;

      li {
        width: 220px;
      }
    }
  }

  .bar {
    background-image: url("../assets/images/cloud.svg");
    background-color: #05abe0;
    /* Old browsers */
    background-color: -moz-linear-gradient(top,
        #05abe0 0%,
        #53cbf1 60%,
        #87e0fd 100%);
    /* FF3.6-15 */
    background-color: -webkit-linear-gradient(top,
        #05abe0 0%,
        #53cbf1 60%,
        #87e0fd 100%);
    /* Chrome10-25,Safari5.1-6 */
    background-color: linear-gradient(to bottom,
        #05abe0 0%,
        #53cbf1 60%,
        #87e0fd 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#05abe0', endColorstr='#87e0fd', GradientType=0);
    /* IE6-9 */
    margin-bottom: 20px;
  }
}

.ptb2x {
  padding-bottom: 30px;
  padding-top: 30px;
}

//blog

.pagination {
  padding-top: 10px;
  padding-bottom: 30px;
  margin-top: 10px;
  display: inline-block;
  width: 100%;
  text-align: center;

  p {
    display: inline-block;
  }
}

.pagination a {
  color: black;
  float: left;
  padding: 14px 16px;
  border-radius: 20px;
  margin-left: 5px;
  margin-right: 5px;
  text-decoration: none;
  background-color: #fff;
}

.pagination .active {
  background-color: #4ca9db;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
}

.blogposts li {
  width: 50%;
  float: left;
  height: 125px;
  margin-bottom: 15px;
}

@media only screen and (max-width: 1180px) {

  .index {

    .minipost-bg {
      border-radius: 0px !important;
      margin-right: 0px !important;
      margin-left: 0px !important;
      margin-bottom: 10px;
    }

    .minipost {

      time {
        font-size: 10px;
      }

      h4 {
        font-size: 14px;
      }

      p {
        font-size: 10px;
      }

    }
  }

  .blogposts {
    padding-top: 15px;

    li {
      width: 100% !important;
    }
  }
}

.firstletter {
  font-weight: bold;
  padding-bottom: 10px;
  border-bottom: 1px dashed #95aec5;
  padding-bottom: 15px;
  margin-bottom: 20px;
}

.termtitle {

  span {
    position: relative;
    top: 15px;
    padding-left: 10px;
  }

}

@media only screen and (max-width: 990px) {

  .letter,
  .collist {
    padding-left: 15px;
    padding-right: 15px;

    -webkit-column-count: 1 !important;
    -moz-column-count: 1 !important;
    -ms-column-count: 1 !important;
    -o-column-count: 1 !important;
    column-count: 1 !important;
  }
}

.letter,
.collist {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  -ms-column-count: 3;
  -o-column-count: 3;
  column-count: 3;
}


.letter {

  .shopname {
    display: inline-block;
    padding-left: 15px;
  }

  li {
    padding: 10px;
    width: 100%;
    display: inline-block;
  }
}

// carousel

.button-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
}

.leftButton {
  left: 20px;
  padding: 10px;
  text-align: center;
}

.rightButton {
  right: 20px;
  padding: 10px;
  text-align: center;
}

.carousel-button {
  top: 50%;
  margin-top: -16px;
  z-index: 99;
  position: absolute;
  background-color: #fff;
  border-radius: 50%;
  width: 16px;
  height: 16px;
}

.text-overlay {
  position: absolute;
  background: linear-gradient(to top,
      rgba(0, 0, 0, 0.65) 0,
      rgba(0, 0, 0, 0) 100%);
  height: 40%;
  width: 100%;
  bottom: 0px;
}

.dealtitle {
  color: #fff;
  padding: 10px;
  padding-bottom: 20px;
  position: relative;
  bottom: 5px;
}

.carousel-wrapper {
  height: 300px;
  width: 100%;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
}

.carousel-image {
  width: 95%;
  margin-left: 2.5%;
  margin-right: 2.5%;
  height: 100%;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

.carousel {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
  display: flex;
  position: absolute;
  left: 0;
  transition: all 1s ease;
}

.card {
  width: 283px;
  min-width: 283px;
  height: 283px;
  margin-right: 15px;
  display: inline-block;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}



.box {
  border-radius: 10px;
  margin-right: 7px;
  margin-left: 7px;
  margin-top: 15px;
}

.bg-white {
  background-color: #fff;
}

.bg-darkblue {
  background-color: #3f4c6b;
}

.extra-maincontent {
  padding-right: 30px;
}

.additionalcontent {
  padding-top: 15px;
      margin-top: 60px;
  font-size: 14px;

  article {
    margin-bottom: 50px;
  }

}

.clear {
  clear: both;
}

.list {
  line-height: 1.4;

  .listitem {
    width: 50%;
    float: left;

    b {
      width: 10%;
      display: inline-block;
    }

    span {
      width: 90%;
      float: right;
    }

  }
}

.post_content {
  line-height: 1.8;

  h1,
  h2,
  h3,
  h4 {
    margin-bottom: 10px;
  }

  ul {
    list-style: inherit;
    list-style-position: inside;
  }

  ol {
    list-style: decimal inside none;

    li {
      padding-top: 5px;
      padding-bottom: 5px;
    }

  }

  article {
    padding-right: 30px;
  }

  img {
    text-align: center;
    max-width: 98%;
    height: auto;
    background-color: #fff;
    border: 1px solid rgb(212, 212, 212);
    padding: 10px;
  }

  .blog-title {
    line-height: 32px;
  }

  p {
    padding-bottom: 15px;
  }
}
